* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkslategrey;
    
}
.container {
    /* background-color: rgb(41, 36, 36); */
    background-color: black;
    width: 25%;
    height: 530px;

    margin: 0 auto;
    margin-top: 60px;
    border-radius: 30px;
}

.inpu {
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;
    height: 40px;
    font-weight: bolder;
    font-size: 28px;
    background-color: rgb(44, 90, 44);
    border-radius: 10px;
}
.btn {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.btn button {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
}
.btn button:hover{
    background-color: purple;
    color: white;
    
    height:  60px;
    width: 60px;
}



@media only screen and (max-width:1115px) {
    .container {
        width: 30%;
    }
    
}
@media only screen and (max-width:1038px) {
    .container {
        width: 30%;
    }
    
}
@media only screen and (max-width:895px) {
    .container {
        width: 40%;
    }
    
}
@media only screen and (max-width:753px) {
    .container {
        width: 45%;
    }
   
}
@media only screen and (max-width:680px) {
    .container {
        width: 50%;
    }
    
}
@media only screen and (max-width:550px) {
    .container {
        width: 60%;
    }
    


}
@media only screen and (max-width:430px) {
    .container {
        width: 75%;
    }
    


}
@media only screen and (max-width:360px) {
    .container {
        width: 85%;
    }
    


}